<!-- src/app/features/friends/components/friends.component.html -->

<div *ngIf="loading" class="loading-spinner">Loading...</div>

<div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<h2>Your Friends</h2>

<!-- Search friends -->
<input
  type="text"
  [(ngModel)]="searchQuery"
  (ngModelChange)="searchFriends()"
  placeholder="Search for friends"
  class="search-bar"
/>

<div *ngIf="searchResults.length > 0">
  <h3>Search Results:</h3>
  <ul>
    <li *ngFor="let user of searchResults">
      {{ user.firstName }} {{ user.lastName }}
      <button
        *ngIf="!isRequestSent(user.id)"
        (click)="sendFriendRequest(user.id)"
        class="btn"
      >
        Send Friend Request
      </button>
    </li>
  </ul>
</div>

<!-- Friends List -->
<ul>
  <li *ngFor="let friend of friends">
    {{ friend.firstName }} {{ friend.lastName }}
    <button (click)="removeFriend(friend.id)" class="btn">Remove</button>
  </li>
</ul>
